<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zihai.dao.TransLogMapper">
  <resultMap id="BaseResultMap" type="com.zihai.entity.TransLog">
    <result column="trans_id" jdbcType="VARCHAR" property="transId" />
    <result column="user_from" jdbcType="VARCHAR" property="userFrom" />
    <result column="user_to" jdbcType="VARCHAR" property="userTo" />
    <result column="amt" jdbcType="DECIMAL" property="amt" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="makedate" jdbcType="TIMESTAMP" property="makedate" />
  </resultMap>
  <insert id="insert" parameterType="com.zihai.entity.TransLog">
    insert into zih_translog (trans_id, user_from, user_to, 
      amt, state, remark, 
      makedate)
    values (#{transId,jdbcType=VARCHAR}, #{userFrom,jdbcType=VARCHAR}, #{userTo,jdbcType=VARCHAR}, 
      #{amt,jdbcType=DECIMAL}, #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{makedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zihai.entity.TransLog">
    insert into zih_translog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        trans_id,
      </if>
      <if test="userFrom != null">
        user_from,
      </if>
      <if test="userTo != null">
        user_to,
      </if>
      <if test="amt != null">
        amt,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="makedate != null">
        makedate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        #{transId,jdbcType=VARCHAR},
      </if>
      <if test="userFrom != null">
        #{userFrom,jdbcType=VARCHAR},
      </if>
      <if test="userTo != null">
        #{userTo,jdbcType=VARCHAR},
      </if>
      <if test="amt != null">
        #{amt,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null">
        #{makedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>